.cartContainer{
    display: flex;
    height: 100%;

    >table {
        width: 50vw;
        text-align: center;
        tbody{
            overflow-y:auto;
            height:60%;
            width:100%;
            tr{
                width: 100%;
                img{
                    height: 100px;
                }
            }
        }
    }
    .cartContainer__pay {
        width: 50vw;
        min-height: 85vh;

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            label{
                height: 40px;
                width: 80%;
                margin: 20px 0;

                input {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}