.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartContainer__list {
    width: 80%;
}
.cartItem {
    height: 100px;
    width: 100%;
    margin: 10px 0;
    background-color: aliceblue;
}
.cartItem h3 {
    display: inline;
}
.cartItem img {
    height: 100%;
}