.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 350px;
    padding: 10vh;
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(225deg, rgba(203,203,203,1) 0%, rgba(138,138,138,1) 23%, rgba(140,138,133,1) 52%, rgba(203,203,203,1) 100%);
    border-radius: 15px;
    text-align: center;
}

.card img {
    margin-top: 30px;
    height: 40%;
    
}
.card:nth-child(1) img {
    margin: auto;
    height: auto;
    width: 80%;
    
}
.card:nth-child(3) img {
    margin: auto;
    height: auto;
    width: 80%;
    
}
.card:nth-child(9) img {
    margin: auto;
    height: auto;
    width: 80%;
    
}
.card__count {
    margin-bottom: 30px;
}
.card__count div span {
    display: block;
}
.btn--link {
    margin: 0;
    width: 100%;
}
