.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 350px;
    margin: 15vh;
    gap: 10px;
}
.card {
    border-radius: 15px;
    text-align: center;
    
}
.card img {
    padding-top: 20px;
    width: 90%;
}
.card__count {
    color: white;
    margin-bottom: 10px;
}