header, .menu  {
    display: flex;
    background-color: white;
    text-align: center;
    overflow: hidden;
}
header {
    height: 15vh;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10px;
    padding-left: 3%;
    height: 100%;
}
.logo__image {
    display: block;
    height: 60px;
}
.menu {
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-left: 20%;
}
.menu__item:hover {
    transform: scale(1.2);
}
.menu__link, .menu__link:link , .logo__link span , .logo__link span:link {
    color: black;
}