header, .menu  {
    display: flex;
    color: red;
    background-color: #383c41;
    overflow: hidden;
}
header {
    height: 100px;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10px;
    padding-left: 3%;
    height: 100%;
}
.logo__image {
    display: block;
    height: 60px;
}
.menu {
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-left: 20%;
}
.menu__item:hover {
    transform: scale(1.2);
}